
body{

  margin: 0 auto;
  background-color: black;
  padding: 0 70px;

}
main{
  padding-left: 18em;

}
h2{
  background-color: white;
  color: black;
  font-size: 1.5em;
}
h3{
  color:white;
}
p{
  font-size: 1.32em;
  color: white;

}
#name{
  padding-left: 3em;
}
#work{
  display: grid;
  /* grid-gap: 1px; */
  	grid-template-columns: repeat(2, 1fr);
}
nav {
  position: relative;
  float: left;
  width: 15%;
  height: 545px;
  background: #ccc;
  padding: 20px 20px 0 20px;
}
#contact{
  padding-top: 9.8em;
}
#try{
  padding-left: 1em;
  width: 70%;
  border-radius: 50%;
}
img{
  width: 15%;
}
nav ul {
  list-style-type: none;

  padding-left: 3.5em;


}
nav ul li{
font-size: 1.1em;
padding: 1em;


}
a:link,a:visited {
  color: black;
  text-decoration: none;


}

a:hover{
  color: white;
  text-decoration:underline;
  text-decoration-color:blue;
}
